.home-container {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../../images/pexels-ivan-samkov-4458554.jpg');
    background-size: cover;
    background-position: center;
}

.home-container-content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    color: var(--primary);
}

.home-container__title {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

.home-container__tagline {
    font-size: 1.0em;
}


.home-container__button {
    width: 200px;
}

@media screen and (min-width: 1000px) {
    
    .home-container__title {
        font-size: 5em;
    }

    .home-container__tagline {
        font-size: 2em;
    }
    
    .home-container-content {
        padding-left: 10em;
        padding-top: 6em;
    }
}
