header {
    background-color: var(--background);
    position: sticky;
    top: 0;
    display: grid;
    grid-row: auto 1fr;
    z-index: 999;
    width: 100%;
    padding: 1em 0;
}

.logo {
   margin: 0 30px 0 0;
   color: var(--primary);
   grid-column: 2 / 3;
   text-align: right;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span:hover,
.nav-toggle-label span::before:hover,
.nav-toggle-label span::after:hover {
    background-color: var(--accent);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
   position: absolute;
   text-align: left;
   top: 100%;
   left: 0%;
   background: var(--background);
   width: 100%;
   transform: scale(1, 0);
   transform-origin: top;
   transition: 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    width: 90px;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}   

.link:hover {
    color: var(--accent);
}
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);
}

.nav-toggle:checked ~ nav .link {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 4fr) 2fr;
    }

    .logo {
        grid-column: 1 / 2;
        margin-left: 20px;
        width: 250px;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .link {
        opacity: 1;
        position: relative;
    }

    .link::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--accent);
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .link:hover::before {
        transform: scale(1,1);
    }

    nav ul {
        all: unset;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
}