.sign-up--container {
    height: 100%;
    background-image: url('../images/pexels-andrea-piacquadio-3807755.jpg');
    background-size: cover;
    background-position: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

.sign-up-form > * {
    width: 400px;
    padding: 1em;
    text-align: center;
}

.form-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

@media screen and (min-width: 1000px) {

    .form-item {
        color: white;
    }

}