.title-container {
    position: absolute;
    top: 30%;
    width: 100%;
    display: grid;
    grid-template: 
        'Title'
        'Subtitle'
        'Button';
    grid-gap: 2em;
    justify-items: center;
}

.title-container__title {
    grid-area: Title;
    font-size: 5em;
}

.title-container__subtitle {
    grid-area: Subtitle;
    font-size: 1.5em;
}

.title-container__btns {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.title-container__btn {
    margin: 1em;
}

